{% extends "unfold/layouts/base.html" %}

{% load admin_urls i18n unfold %}

{% block breadcrumbs %}
    <div class="px-4 lg:px-8">
        <div class="container mb-6 mx-auto -my-3 lg:mb-12">
            <ul class="flex flex-wrap">
                {% url 'admin:index' as link %}
                {% trans 'Home' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                {% trans 'Clear Cache' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with name=name %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 class="hidden">{% trans "Clear Cache" %}</h1>
    {% component "unfold/components/container.html" %}
        <div class="grid gap-2 mt-8 space-y-8">
            <div class="bg-white shadow-lg rounded-lg p-6 dark:bg-gray-800 dark:text-white">
                {% component "unfold/components/title.html" with class="text-2xl font-bold mb-4" %}
                    {% trans "Clear Cache by Class" %}
                {% endcomponent %}
                <form method="post" class="grid gap-2 space-y-4">
                    {% csrf_token %}
                    <div class="grid gap-2">
                        <label for="id_viewset_class" class="block text-sm font-medium text-gray-700 dark:text-gray-300">{% trans "Select ViewSet class to clear cache" %}:</label>
                        <select name="viewset_class" id="id_viewset_class" class="w-full p-2 rounded-md border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:ring-blue-500 focus:border-blue-500">
                            {% for value, label in form.viewset_class.field.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% component "unfold/components/button.html" with name="clear_cache_for_class" submit=1 class="w-full py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 dark:bg-blue-700 dark:hover:bg-blue-600" %}
                        {% trans "Clear Cache" %}
                    {% endcomponent %}
                </form>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-6 dark:bg-gray-800 dark:text-white">
                {% component "unfold/components/title.html" with class="text-2xl font-bold mb-4" %}
                    {% trans "Clear Entire Site Cache" %}
                {% endcomponent %}
                <form method="post" class="grid gap-2 space-y-4">
                    {% csrf_token %}
                    {% component "unfold/components/button.html" with name="clear_site_cache" submit=1 class="w-full py-3 bg-red-500 text-white rounded-md hover:bg-red-600 dark:bg-red-600 dark:hover:bg-red-500" %}
                        {% trans "Clear Entire Site Cache" %}
                    {% endcomponent %}
                </form>
            </div>
        </div>
    {% endcomponent %}
{% endblock %}
