{% extends "account/base.html" %}

{% load i18n %}
{% load form_filters %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="grid p-10 items-center justify-items-center text-xl font-black">{% trans "Change Password" %}</h1>

    <div class="grid items-center justify-items-center w-full h-full g-6 text-gray-800">
        <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-zinc-800 border-gray-700">
            <div class="p-12 sm:p-8">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    <div>
                        <label for="id_oldpassword" class="block mb-2 text-sm font-medium text-white">{% trans "Current Password:" %}</label>
                        {{ form.oldpassword | add_class:"border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 :placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" }}
                        <div class="form-errors">
                            {{ form.oldpassword.errors | safe }}
                        </div>
                    </div>
                    <div>
                        <label for="id_password1" class="block mb-2 text-sm font-medium text-white">{% trans "New Password:" %}</label>
                        {{ form.password1 | add_class:"border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 :placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" }}
                        <div class="form-errors">
                            {{ form.password1.errors | safe }}
                        </div>
                    </div>
                    <div>
                        <label for="id_password2" class="block mb-2 text-sm font-medium text-white">{% trans "New Password:" %}</label>
                        {{ form.password2 | add_class:"border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 :placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" }}
                        <div class="form-errors">
                            {{ form.password2.errors | safe }}
                        </div>
                    </div>
                    {% if form.non_field_errors %}
                        <div class="form-errors">
                          {{ form.non_field_errors | safe }}
                        </div>
                    {% endif %}
                    <button class="w-full text-white ring-2 ring-primary outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 hover:bg-primary-700 ring-primary-800" type="submit" name="action">{% trans "Change Password" %}</button>
                    <a class="grid justify-items-end mt-2 hover:underline font-light text-gray-300" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
