{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1 class="grid p-10 items-center justify-items-center text-xl font-black">{% trans "Password Reset" %}</h1>

    <div class="grid items-center justify-items-center w-full h-full g-6 text-gray-800">
        <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-zinc-800 border-gray-700">
            <div class="p-12 sm:p-8">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="grid items-center justify-items-center font-light text-gray-300">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
