{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <h1 class="grid p-10 items-center justify-items-center text-xl font-black">{% trans "Sign Up Closed" %}</h1>

    <div class="grid items-center justify-items-center w-full h-full g-6 text-gray-800">
        <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-zinc-800 border-gray-700">
            <div class="p-12 sm:p-8">
                <p class="grid items-center justify-items-center font-light text-gray-300">{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
