asgiref==3.8.1
boto3==1.35.96
celery==5.4.0
channels==4.2.0
channels-redis==4.2.1
charset_normalizer==3.4.1
coverage==7.6.10
cryptography==44.0.0
django==5.1.4
django-admin-thumbnails==0.2.9
django-allauth[mfa]==65.3.1
django-csp==4.0b2
django-dbbackup==4.2.1
django-extra-settings==0.12.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cors-headers==4.6.0
django-debug-toolbar==4.4.6
django-simple-history==3.7.0
django-filter==24.3
django-money==3.5.3
django-mptt==0.16.0
django-parler==2.3.0
django-parler-rest==2.2.0
django-phonenumber-field[phonenumberslite]==8.0.0
django-rosetta==0.10.1
django-rest-knox==5.0.2
django-storages==1.14.4
django-stubs==5.1.1
django-tinymce==4.1.0
djangorestframework==3.15.2
djangorestframework-stubs==3.15.2
djangorestframework-camel-case==1.4.2
drf-spectacular==0.28.0
Faker==33.3.0
factory-boy==3.3.1
fido2==1.2.0
flower==2.0.1
gitpython==3.1.44
gunicorn==23.0.0
importlib-resources==6.5.2
measurement==3.2.2
meilisearch==0.33.1
phonenumbers==8.13.52
poetry==2.0.0
pip-upgrader==1.4.15
pillow==11.1.0
pre-commit==4.0.1
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg-pool==3.2.4
pylint==3.3.3
pyjwt==2.10.1
python-dotenv==1.0.1
python-semantic-release==9.15.2
pytest==8.3.4
pytest-asyncio==0.25.2
pytest-django==4.9.0
urllib3==2.3.0
uvicorn[standard]==0.34.0
ruff==0.9.0
