swagger: '2.0'
docExpansion: full
version: 1.0.0
noindex: true
info:
    title: Viva Documentation
    version: ''
    description: >-
        Explore our guides and examples to integrate with Viva.

        # Open Demo Account

        Get started with Viva by creating for free an account in the demo environment.<br><br>

        Your account in demo allows you to:

        - Request and send money

        - See your account details (Account ID, IBAN)

        - Get your account credentials for the integration

        - Check your balance

        - See the Sales transactions

        <br><br>
        <button><strong><a href="https://demo.vivapayments.com/en/signup" target="_blank">Open a demo account</a></strong></button>
        &nbsp;&nbsp;
        <button><strong><a href="/getting-started/account-registration-sign-in/">How to open a demo account</a></strong></button>

        # Authentication
 
        To submit payments with Viva, you will be making API requests that are authenticated using your account credentials.<br><br>

        If you don’t include them when making an API request, or use incorrect credentials, you will get an error.


        Your account credentials are always available in the Self Card Dashboard.

        - Find your [account credentials for Basic Auth](/getting-started/find-your-merchant-id-and-api-key/).

        - Find your [account credentials for OAuth2](/getting-started/find-your-client-credentials/).


        Viva use the below authentication methods for user authentication:

        - [OAuth2](/integration-reference/oauth2-authentication/)

        - [Basic Auth](/integration-reference/basic-auth)

        <securitySchemes/>
        <br><br>


        You may find below a Postman example for <a href="/integration-reference/oauth2-authentication/">OAuth2</a> user authentication method.


        [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/17199201-019c6dec-32f1-4ca2-980b-5fe1f7852e41?action=collection%2Ffork&collection-url=entityId%3D17199201-019c6dec-32f1-4ca2-980b-5fe1f7852e41%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
        <br>

          *****

         **<center>🔐 You may find in every API Call the required authentication method</center>**

          *****

        # SandBox

        The sandbox can be used for all your development / demo requirements. No actual payments can be made
        within this environment (you cannot use a real card).
        <br><br>
        To simulate a successful payment in the demo environment, use one of our [test
        cards](/getting-started/test-cards) to mimic a payment of 30¢/30p or more.


        # Live environment

        Actual transactions are executed in the live environment. The minimum transaction amount is the same as for the demo environment.


        # Glossary

        <table style="width:100%">
          <tr>
            <th>Term</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Customer</td>
            <td>The customer is the user who wants to pay for the product(s) and service(s).</td>
          </tr>
          <tr>
            <td>Merchant</td>
            <td>The merchant is the company that wants to receive payments product(s) and service(s) from the customer(s).</td>
          </tr>
          <tr>
            <td>Payment</td>
            <td>A payment request from the merchant.</td>
          </tr>
        </table>


        # Get Support

        If you would like to integrate with Viva, or if you have any queries about our products and solutions, please see our [**Contact & Support**](/get-support) page to see how we can help!


    termsOfService: ''
    x-logo:
        url: /images/vivacom_block_logo2.svg
        backgroundColor: '#FFFFFF'
        altText: Viva logo
        href: /web-api-integration/payment-api


x-tagGroups:
  - name: Payments
    tags:
      - Payments
      - Transactions
      #- AML
      #- Customers Timeline
#  - name: Fees
#    tags:
#      - Fees
  - name: RF Codes
    tags:
      - RF Code Payments
  - name: Wallet
    tags:
      - Balance Transfer
      - Retrieve Wallets and Transactions

  - name: Bank Account
    tags:
      - Bank Account
      - Get bank account
      - Update bank account
      - Get available instruction types
      - Set bank account fee
      - Outgoing bank transfer

  - name: Sources
    tags:
      - Sources

  - name: Marketplace
    tags:
      - Marketplace Sellers
      - Marketplace Payments
      - Marketplace Transfers
      - Marketplace Transactions

  - name: MOTO
    tags:
      - MOTO Card Charge

  - name: Data Services
    tags:
      - MT940 API
      - Webhooks API
      - File Request API
      - Transactions via Data Service

  - name: Resellers
    tags:
      - Resellers

  - name: Deprecated
    tags:
      - Bank Account (Deprecated)
      - Payments (Deprecated)
      - Transactions (Deprecated)
      - Retrieve Wallet (Deprecated)
      - Sources (Deprecated)
      - Obligation (Deprecated)

servers:
  - url: https://demo.vivapayments.com
    description: Sandbox environment
  - url: https://www.vivapayments.com/
    description: Live environment

schemes:
    - https

paths:
#---------------RF COdes--------------------------------------------------------------------------------------

    /web2/checkout/v2/paymentsessions:
        post:
            servers:
                - url: https://demo.vivapayments.com
                  description: Sandbox environment
                - url: https://www.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - RF Code Payments
            summary: Generare RF Codes
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/viva-com/workspace/developer-portal/request/17199201-231d3d57-d919-4336-90a6-3c9f37459bd5?action=share&creator=17199201&ctx=documentation)
                <br><br>This API allows you to generate RF Codes in order to get paid.<br>

                ><strong>Please note:</strong> The RF Code generation API Call does not require any authentication. <br><br><strong>The RF codes are applicable only in Greece for Greek merchants.
            parameters:
                -
                    name: body
                    schema:
                        $ref: '#/definitions/rf_code'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://demo.vivapayments.com/web2/checkout/v2/paymentsessions' \
                  --header 'Content-Type: application/json'
                  --data '{
                      "orderCode": 3097103021072605
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://demo.vivapayments.com/web2/checkout/v2/paymentsessions',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                      "orderCode": 3097103021072605
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Content-Type: application/json'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;


              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://www.vivapayments.com/web2/checkout/v2/paymentsessions',
                    'headers': {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      "orderCode": 3097103021072605
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });


              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\r\n    \"orderCode\": 3097103021072605\r\n}");
                  Request request = new Request.Builder()
                    .url("https://www.vivapayments.com/web2/checkout/v2/paymentsessions")
                    .method("POST", body)
                    .addHeader("Content-Type", "application/json")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    examples:
                        application/json:
                          "200 No Content"
                '400':
                    description: Bad Request
                    schema:
                        $ref: '#/definitions/rfcode_error_response_400'
                    examples:
                        application/json:
                            status: 400
                            message: "Null options"
                            eventId: "0"
                '404':
                    description: Not found
                    schema:
                        $ref: '#/definitions/rfcode_error_response_404'
                    examples:
                        application/json:
                            status: 404
                            message: "OrdersOrderCodeNotFound: Order with code XXXXXX was not found"
                            eventId: "5501"
                '5xx':
                    description:  Error (incorrect/missing ReportDate or incorrect authorisation token)
                    examples:
                        application/json:
                            "500 Internal Server Error"


#---------------DATASERVICES API PATH START--------------------------------------------------------------------------------------


#--------------- ADDED BY CF - 16/03/23 - TAM-1061 -----------------------------------------------------------------------------


    '/dataservices/v2/transactions/Search?PageSize={PageSize}&Page={PageNumber}&OrderBy={Descending}':
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:biservices:publicapi urn:viva:payments:core:api:isv urn:viva:payments:core:api:redirectcheckout"
            summary: Transactions from Data Service
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/17199201-8c410511-a4d3-41c1-8f1f-76a6df96e6eb?action=collection%2Ffork&collection-url=entityId%3D17199201-8c410511-a4d3-41c1-8f1f-76a6df96e6eb%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)


                This API call provides comprehensive access to detailed information regarding historical transactions. It offers extensive filtering capabilities based on various criteria such as date, transaction type, amount, status, and more. By utilizing this endpoint, you can retrieve specific transaction details that meet your specified criteria. <strong>Please note</strong>, the time frame that the Transactions from Data Service API can fetch data from is <strong>240 days</strong><br /><br />GET `/dataservices/v2/transactions/Search?PageSize={PageSize}&Page={PageNumber}&OrderBy={Descending}`<br /><br><strong>Note:</strong> `MerchantIsvFeeAmount` and `TotalCommission` in the response <strong>will have values only if the transaction is cleared</strong>. To determine whether the clearance has taken place, you can check the ClearanceDate parameter.


                <br>


                >Find out about the possible [transaction
                feedback parameters](/integration-reference/response-codes/#transaction-feedback-parameters).

                <br><br>
                The Data Services APIs requires specific access credentials. To request access, please speak to your sales representative <br /><br />
            servers:
                - url: https://demo-api.vivapayments.com
                  description: Sandbox environment
                - url: https://api.vivapayments.com
                  description: Live environment

            produces:
                - application/json
            tags:
                - Transactions via Data Service
            parameters:
                -
                    name: PageSize
                    description: Specifies the number of items (records) to be included per page in the API response. It controls the amount of data returned per request, helping manage response size and optimize performance. If not specified, the default value is 10
                    in: query
                    required: false
                    type: integer
                    x-example: '100'

                -
                    name: Page
                    description: Determines which page of data to retrieve from the paginated API results. It indicates the specific subset of data within the overall dataset, based on the given pageSize. If not specified, the default value is 1.
                    in: query
                    required: false
                    type: integer
                    x-example: '1'

                -
                    name: OrderBy
                    description: Specifies the order in which the results should be sorted. Use OrderBy=Descending to sort the results in descending order based on the date creteria. Conversely, for ascending order, use OrderBy=Ascending.
                    in: query
                    required: false
                    type: string
                    x-example: 'Descending'

                -
                    name: body
                    schema:
                        $ref: '#/definitions/data_services_retrieve_transactions'
                    in: body
                    required: true


            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/dataservices/v2/transactions/Search?PageSize=100&Page=1&OrderBy=Descending' \
                  --header 'Content-Type: application/json' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --data '{
                    "insDateFrom": "2020-06-20T12:57:25.463+03:00",
                    "insDateTo": "2024-06-29T12:57:25.463+03:00"
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/dataservices/v2/transactions/Search?PageSize=100&Page=1&OrderBy=Descending',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                    "insDateFrom": "2020-06-20T12:57:25.463+03:00",
                    "insDateTo": "2024-06-29T12:57:25.463+03:00"
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Content-Type: application/json',
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/dataservices/v2/transactions/Search?PageSize=100&Page=1&OrderBy=Descending',
                    'headers': {
                      'Content-Type': 'application/json',
                      'Authorization': 'Bearer {Bearer_Token}'
                    },
                    body: JSON.stringify({
                      "insDateFrom": "2020-06-20T12:57:25.463+03:00",
                      "insDateTo": "2024-06-29T12:57:25.463+03:00"
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\r\n  \"insDateFrom\": \"2020-06-20T12:57:25.463+03:00\",\r\n  \"insDateTo\": \"2024-06-29T12:57:25.463+03:00\"}");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/dataservices/v2/transactions/Search?PageSize=100&Page=1&OrderBy=Descending")
                    .method("POST", body)
                    .addHeader("Content-Type", "application/json")
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/data_services_retrieve_transactions_response'
                '401':
                    description:  You were not authorized to execute this operation
                    examples:
                        application/json:
                           Message : "Authorization has been denied for this request content."





    /dataservices/v2/merchants/mt940:
        get:
            security:
                - OAuth2:
                  - "urn:viva:payments:biservices:datafileapi"
            servers:
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - MT940 API
            summary: Retrieve MT940 Data
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/18763635-f0b4093d-dddb-4fdf-9a33-d7f328ee66d2?action=collection%2Ffork&collection-url=entityId%3D18763635-f0b4093d-dddb-4fdf-9a33-d7f328ee66d2%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
                <br><br>This API allows you to retrieve MT940 report data for a given <em>past</em> date (MT940 data cannot be generated for the <em>current</em> date, as it only applies to cleared transactions).<br>

                ><strong>Please note:</strong> The Data Services API requires<em> specific access credentials</em>. To request access, please speak to your sales representative
            parameters:
                -
                    name: Authorization
                    in: header
                    description: The required identity Bearer token needed to access the resource.
                    required: true
                    schema:
                        type: string

                -
                    name: ReportDate
                    in: query
                    description: Date for which MT940 data should be retrieved.
                    required: true
                    example: "2023-04-30"
                    schema:
                        type: string
                        format: date

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/dataservices/v2/merchants/mt940?ReportDate=2023-04-30' \
                  --header 'Authorization: Bearer {Bearer_Token}'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/dataservices/v2/merchants/mt940?ReportDate=2023-04-30',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'GET',
                    CURLOPT_HTTPHEADER => array(
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'GET',
                    'url': 'https://api.vivapayments.com/dataservices/v2/merchants/mt940?ReportDate=2023-04-30',
                    'headers': {
                      'Authorization': 'Bearer {Bearer_Token}'
                    }
                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("text/plain");
                  RequestBody body = RequestBody.create(mediaType, "");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/dataservices/v2/merchants/mt940?ReportDate=2023-04-30")
                    .method("GET", body)
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/mt490_success_response'
                    examples:
                        application/json:
                          "{1:F01VPAYGRAA9272641}{2:O9499821VPAYGRAA0989N741}{4: :20:276657 :25:FR7624933233327453370009887 :28C:74/1 :60F:C345315EUR5,99 :62F:C345315EUR5,99 -}"
                '204':
                    description:  No Content (content was not found for the specified date)
                    examples:
                        application/json:
                            "204 No Content"
                '5xx':
                    description:  Error (incorrect/missing ReportDate or incorrect authorisation token)
                    examples:
                        application/json:
                            "500 Internal Server Error"
                '500':
                    description:  Error (cannot generate data for the current date)
                    schema:
                        $ref: '#/definitions/mt490_error_response'
                    examples:
                        application/json:
                            status: 500
                            message: "Error getting data for MT940: Error validating transactions with balances"
                            eventId: "110005"

#--------------------------------------------------------------------------------------------------------------------------------


    /dataservices/v1/webhooks/subscriptions:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:biservices:datafileapi"
            servers:
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Webhooks API
            summary: Add subscription
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/18763635-f0b4093d-dddb-4fdf-9a33-d7f328ee66d2?action=collection%2Ffork&collection-url=entityId%3D18763635-f0b4093d-dddb-4fdf-9a33-d7f328ee66d2%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
                <br><br>The Webhooks API provides all the necessary tools to register on the webhooks service using event filters.
                <br><br>Register to webhooks by adding a new subscription. Limitations apply (one subscription per URL and event, limited total subscriptions).<br><br>

                ><strong>Please note:</strong><br><li>Webhook Subscriptions can currently <strong>only</strong> be made for the <strong>'SaleTransactionsFileGenerated'</strong> event - see [the Sale transactions File Request API](/apis-for-payments/payment-api/#tag/File-Request-API/paths/~1dataservices~1v1~1transactions~1exports/post)<br><br><li>The Data Services API <strong>requires specific access credentials</strong>. To request access, please speak to your sales representative
            parameters:
                -
                    name: Content-Type
                    in: header
                    #description: "The language you prefer for messages. Supported values are en-AU, en-CA, en-GB, en-US"
                    #example: en-US
                    required: true
                    schema:
                        type: string
                        default: application/json
                -
                    name: Authorization
                    in: header
                    description: The required identity Bearer token needed to access the resource.
                    required: true
                    schema:
                        type: string
                -
                    name: body
                    schema:
                        $ref: '#/definitions/webhooks_add_subscription_request'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --header 'Content-Type: application/json' \
                  --data '{
                      "url": "https://www.merchantwebsite.com/webhooks/receive",
                      "secret": "TestSecretKeyForHMAC",
                      "events": [
                          "SaleTransactionsFileGenerated"
                      ]
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                      "url": "https://www.merchantwebsite.com/webhooks/receive",
                      "secret": "TestSecretKeyForHMAC",
                      "events": [
                          "SaleTransactionsFileGenerated"
                      ]
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Authorization: Bearer {Bearer_Token}',
                      'Content-Type: application/json'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions',
                    'headers': {
                      'Authorization': 'Bearer {Bearer_Token}',
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      "url": "https://www.merchantwebsite.com/webhooks/receive",
                      "secret": "TestSecretKeyForHMAC",
                      "events": [
                        "SaleTransactionsFileGenerated"
                      ]
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\n    \"url\": \"https://www.merchantwebsite.com/webhooks/receive\",\n    \"secret\": \"TestSecretKeyForHMAC\",\n    \"events\": [\n        \"SaleTransactionsFileGenerated\"\n    ]\n}");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions")
                    .method("POST", body)
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .addHeader("Content-Type", "application/json")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/webhooks_add_update_subscription_response'
                    examples:
                        application/json:
                            subscriptionId: b17c1d56-d701-4b84-8c83-c67a5e5b187f
                '401':
                    description:  Unauthorized
                    examples:
                        application/json:
                           Message : "Unauthorized."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"

#-------------------------------------------------------------------------------------------------------------------------------------------------------------

    /dataservices/v1/webhooks/subscriptions/{SubscriptionId}:
        put:
            security:
                - OAuth2:
                  - "urn:viva:payments:biservices:datafileapi"
            servers:
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Webhooks API
            summary: Update subscription
            description: >-
                Update webhooks subscription.
            parameters:
                -
                    name: Content-Type
                    in: header
                    #description: "The language you prefer for messages. Supported values are en-AU, en-CA, en-GB, en-US"
                    #example: en-US
                    required: true
                    schema:
                        type: string
                        default: application/json
                -
                    name: Authorization
                    in: header
                    description: The required identity Bearer token needed to access the resource.
                    required: true
                    schema:
                        type: string
                -

                    in: path
                    name: SubscriptionId
                    required: true
                    description: The ID of the subscription.
                    example: b17c1d56-d701-4b84-8c83-c67a5e5b187f

                -
                    name: body
                    schema:
                        $ref: '#/definitions/webhooks_add_subscription_request'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location --request PUT 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions/54bc943c-ef29-46ce-9c6d-7019c85deb69' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --header 'Content-Type: application/json' \
                  --data '{
                      "url": "https://webhook.site/88261e7e-4745-42b8-addb-cafe225b21b3",
                      "secret": "TestSecretKeyForHMAC",
                      "events": [
                          "SaleTransactionsFileGenerated"
                      ]
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions/54bc943c-ef29-46ce-9c6d-7019c85deb69',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'PUT',
                    CURLOPT_POSTFIELDS =>'{
                      "url": "https://webhook.site/88261e7e-4745-42b8-addb-cafe225b21b3",
                      "secret": "TestSecretKeyForHMAC",
                      "events": [
                          "SaleTransactionsFileGenerated"
                      ]
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Authorization: Bearer {Bearer_Token}',
                      'Content-Type: application/json'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'PUT',
                    'url': 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions/54bc943c-ef29-46ce-9c6d-7019c85deb69',
                    'headers': {
                      'Authorization': 'Bearer {Bearer_Token}',
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      "url": "https://webhook.site/88261e7e-4745-42b8-addb-cafe225b21b3",
                      "secret": "TestSecretKeyForHMAC",
                      "events": [
                        "SaleTransactionsFileGenerated"
                      ]
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\n    \"url\": \"https://webhook.site/88261e7e-4745-42b8-addb-cafe225b21b3\",\n    \"secret\": \"TestSecretKeyForHMAC\",\n    \"events\": [\n        \"SaleTransactionsFileGenerated\"\n    ]\n}");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions/54bc943c-ef29-46ce-9c6d-7019c85deb69")
                    .method("PUT", body)
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .addHeader("Content-Type", "application/json")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/webhooks_add_update_subscription_response'
                    examples:
                        application/json:
                            subscriptionId: b17c1d56-d701-4b84-8c83-c67a5e5b187f
                '401':
                    description:  Unauthorized
                    examples:
                        application/json:
                           Message : "Unauthorized."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"
#-------------------------------------------------------------------------------------------------------------------------------------------------------------

    /dataservices/v1/webhooks/subscriptions/{SubscriptionID}:
        delete:
            security:
                - OAuth2:
                  - "urn:viva:payments:biservices:datafileapi"
            servers:
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Webhooks API
            summary: Delete subscription
            description: >-
                Delete webhooks subscription.

            parameters:
                -
                    name: Authorization
                    in: header
                    description: The required identity Bearer token needed to access the resource.
                    required: true
                    schema:
                        type: string
                -

                    in: path
                    name: SubscriptionId
                    required: true
                    description: The ID of the subscription.
                    example: b17c1d56-d701-4b84-8c83-c67a5e5b187f

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location --request DELETE 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions/53c6fd61-d885-4e07-afcc-e2c5814e673d' \
                  --header 'Authorization: Bearer {Bearer_Token}'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions/53c6fd61-d885-4e07-afcc-e2c5814e673d',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'DELETE',
                    CURLOPT_HTTPHEADER => array(
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'DELETE',
                    'url': 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions/53c6fd61-d885-4e07-afcc-e2c5814e673d',
                    'headers': {
                      'Authorization': 'Bearer {Bearer_Token}'
                    }
                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("text/plain");
                  RequestBody body = RequestBody.create(mediaType, "");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions/53c6fd61-d885-4e07-afcc-e2c5814e673d")
                    .method("DELETE", body)
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/webhooks_delete_subscription_response'
                    examples:
                        application/json:
                            message: Subscription deleted
                '401':
                    description:  Unauthorized
                    examples:
                        application/json:
                           Message : "Unauthorized."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"
#-------------------------------------------------------------------------------------------------------------------------------------------------------------

    /dataservices/v1/webhooks/subscriptions/:
        get:
            security:
                - OAuth2:
                  - "urn:viva:payments:biservices:datafileapi"
            servers:
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Webhooks API
            summary: List subscriptions
            description: >-
                List webhooks subscriptions.
            parameters:
                -
                    name: Authorization
                    in: header
                    description: The required identity Bearer token needed to access the resource.
                    required: true
                    schema:
                        type: string

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions' \
                  --header 'Authorization: Bearer {Bearer_Token}'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'GET',
                    CURLOPT_HTTPHEADER => array(
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'GET',
                    'url': 'https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions',
                    'headers': {
                      'Authorization': 'Bearer {Bearer_Token}'
                    }
                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("text/plain");
                  RequestBody body = RequestBody.create(mediaType, "");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/dataservices/v1/webhooks/subscriptions")
                    .method("GET", body)
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/webhooks_list_subscriptions_response'
                    examples:
                        application/json:
                                - subscriptionId: 930a9be8-6f2c-40e8-a351-2cf7770597d4
                                  url: http://merchant.url/path
                                  events: ["SaleTransactionsFileGenerated"]
                                - subscriptionId: 75fb06ba-fdee-4031-b3aa-704f3ec6cbd9
                                  url: http://merchant.url/path
                                  events: ["SaleTransactionsFileGenerated"]
                '401':
                    description:  Unauthorized
                    examples:
                        application/json:
                           Message : "Unauthorized."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"
#-------------------------------------------------------------------------------------------------------------------------------------------------------------
    /dataservices/v1/transactions/exports:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:biservices:datafileapi"
            servers:
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - File Request API
            parameters:
                -
                    name: Authorization
                    in: header
                    description: The required identity Bearer token needed to access the resource.
                    required: true
                    schema:
                        type: string
                -
                    name: Content-Type
                    in: header
                    #description: "The language you prefer for messages. Supported values are en-AU, en-CA, en-GB, en-US"
                    #example: en-US
                    required: true
                    schema:
                        type: string
                        default: application/json
                -
                    name: body
                    schema:
                        $ref: '#/definitions/filerequests_saletransactions_request'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/dataservices/v1/transactions/exports' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --header 'Content-Type: application/json' \
                  --data '{
                      "Id": "408af3c8-fe36-11ec-b939-0242ac120002",
                      "Date": "2022-06-22",
                      "FileType": "csv"
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/dataservices/v1/transactions/exports',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                      "Id": "408af3c8-fe36-11ec-b939-0242ac120002",
                      "Date": "2022-06-22",
                      "FileType": "csv"
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Authorization: Bearer {Bearer_Token}',
                      'Content-Type: application/json'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/dataservices/v1/transactions/exports',
                    'headers': {
                      'Authorization': 'Bearer {Bearer_Token}',
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      "Id": "408af3c8-fe36-11ec-b939-0242ac120002",
                      "Date": "2022-06-22",
                      "FileType": "csv"
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\n    \"Id\": \"408af3c8-fe36-11ec-b939-0242ac120002\",\n    \"Date\": \"2022-06-22\",\n    \"FileType\": \"csv\"\n}");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/dataservices/v1/transactions/exports")
                    .method("POST", body)
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .addHeader("Content-Type", "application/json")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/filerequests_saletransactions_response'
                    examples:
                        application/json:
                            requestId: dac40e4b-0369-407e-b52b-a2172f408ffa
                '401':
                    description:  Unauthorized
                    examples:
                        application/json:
                           Message : "Unauthorized."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"

            summary: Sale transactions
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/18763635-f0b4093d-dddb-4fdf-9a33-d7f328ee66d2?action=collection%2Ffork&collection-url=entityId%3D18763635-f0b4093d-dddb-4fdf-9a33-d7f328ee66d2%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574) <br><br>
                The File Requests API provides all the necessary tools in order to request a file generation.
                <br><br>Request the generation of a Sale Transactions file for a specific date. The data included in the resulting CSV file are from 00:00 - 23:59 of the date specified in the body of the request, based on the timezone of the country in which the merchant is registered.

#-------------------------------------------------------------------------------------------------------------------------------------------------------------

    /webhooks/receive (your endpoint for webhooks):
        post:
            servers:
                - url: https://demo.yourapi.com
                  description: Sandbox environment
                - url: https://www.yourapi.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - File Request API
            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/filerequests_webhook_request'
            parameters:
                -
                    name: User-Agent
                    in: header
                    default: “Viva-Hookshot/1.0”
                    description: Constant value
                    schema:
                        type: string

                -
                    name: Viva-Signature
                    in: header
                    description: Contains the HMAC hex digest of the request body, and is generated using the SHA-1 hash function and the secret (provided when [adding](/apis-for-payments/payment-api/#tag/Webhooks-API/paths/~1dataservices~1v1~1webhooks~1subscriptions/post) or [updating](/apis-for-payments/payment-api/#tag/Webhooks-API/paths/~1dataservices~1v1~1webhooks~1subscriptions~1{SubscriptionId}/put) a subscription) as the HMAC key.
                    schema:
                        type: string


                -
                    name: Viva-Signature-256
                    in: header
                    description: Contains the HMAC hex digest of the request body, and is generated using the SHA-256 hash function and the secret (provided when [adding](/apis-for-payments/payment-api/#tag/Webhooks-API/paths/~1dataservices~1v1~1webhooks~1subscriptions/post) or [updating](/apis-for-payments/payment-api/#tag/Webhooks-API/paths/~1dataservices~1v1~1webhooks~1subscriptions~1{SubscriptionId}/put) a subscription) as the HMAC key.
                    schema:
                        type: string

                -
                    name: Viva-Delivery-Id
                    in: header
                    format: uuid
                    description: A webhook unique value to identify the delivery. On sale transactions file requests, this is equal to the request identifier.
                    schema:
                        type: string

                -
                    name: Viva-Event
                    in: header
                    description: Name of the event that triggered the delivery (i.e. SaleTransactionsFileGenerated).
                    schema:
                        type: string

            summary: WebHook SaleTransactions
            description: >-
                Once a file generation request is received and the file is ready, a webhook is sent sent via POST request to the provided URL of the subscription.

#---------------------------------------------DATASERVICES API PATH END---------------------------------------------------------------------------------------

#---------------------------------------------RESELLERS - TAM-1337---------------------------------------------------------------------------------------

    /resellers/v1/transactions/cashPayments:validate:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:core:api:resellers"
            servers:
                - url: https://demo-api.vivapayments.com
                  description: Sandbox environment
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Resellers
            parameters:
                -
                    name: body
                    schema:
                        $ref: '#/definitions/resellers_check_cash_request'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments:validate' \
                  --header 'Content-Type: application/json' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --data '{
                    "phone": "string",
                    "amount": null,
                    "orderCode": null,
                    "rfPaymentCode": "string",
                    "countryCode": "string"
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments:validate',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                    "phone": "string",
                    "amount": null,
                    "orderCode": null,
                    "rfPaymentCode": "string",
                    "countryCode": "string"
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Content-Type: application/json',
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments:validate',
                    'headers': {
                      'Content-Type': 'application/json',
                      'Authorization': 'Bearer {Bearer_Token}'
                    },
                    body: JSON.stringify({
                      "phone": "string",
                      "amount": null,
                      "orderCode": null,
                      "rfPaymentCode": "string",
                      "countryCode": "string"
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\r\n  \"phone\": \"string\",\r\n  \"amount\": null,\r\n  \"orderCode\": null,\r\n  \"rfPaymentCode\": \"string\",\r\n  \"countryCode\": \"string\"\r\n}");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/resellers/v1/transactions/cashPayments:validate")
                    .method("POST", body)
                    .addHeader("Content-Type", "application/json")
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '204':
                    description: Success
                    examples:
                        application/json:
                           No message : "[Success response]."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"

            summary: Check eligibility for cash payments
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/19692059-d797ad56-7c16-459c-859a-e8b9d63b21af?action=collection%2Ffork&collection-url=entityId%3D19692059-d797ad56-7c16-459c-859a-e8b9d63b21af%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
                <br><br>
                Use this endpoint to check whether the customer is eligible to pay.<br><br>

                <strong>Cash deposit for merchant payment</strong><br>

                Viva customers can use the service without an amount limit. An OTP will be send to the mobile phone of the customer.
                Non-customers can use the service only for payments < 1.000€ in this case eventId '109101' will be in the response and
                '/resellers/v1/transactions/cashPayments' must be called with the the appropriate tags in the request body.<br><br>

                <strong>Cash deposit to customer account</strong><br>

                Only Viva customers can use the service. An OTP will be send to the mobile phone of the customer.
                otherwise he can only pay the Code via card.<br><br>

                <strong>Events</strong><br>
                <table>
                <tr>
                <td>Event</td>
                <td>ID</td>
                <td>Description</td>
                </tr>
                <tr>
                <td>Resellers Payment Not Allowed</td>
                <td>**109100**</td>
                <td>This will be exposed in the header (HTTP 400 error code). Payment not allowed</td>
                </tr>
                <tr>
                <td>Resellers Additional Fields Required For Non Viva Customer</td>
                <td>**109101**</td>
                <td>This will be exposed in the header (HTTP 200 error code). The appropriate tags must be used in the request body of the payment call</td>
                </tr>
                <tr>
                <td>Resellers Non Viva Customer Wallet Top Up Only Via Card</td>
                <td>**109104**</td>
                <td>This will be exposed in the header (HTTP 400 error code). Non Viva customer cash payment not allowed</td>
                </tr>
                </table>

                <strong><em>For Resellers API calls, please use your <a href="/getting-started/find-your-account-credentials/reseller-api-credentials/">Reseller API credentials</a></em></strong>

    /resellers/v1/transactions/billPayments:validate:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:core:api:resellers"
            servers:
                - url: https://demo-api.vivapayments.com
                  description: Sandbox environment
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Resellers
            parameters:
                -
                    name: body
                    schema:
                        $ref: '#/definitions/resellers_check_bill_request'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/resellers/v1/transactions/billPayments:validate' \
                  --header 'Content-Type: application/json' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --data '{
                    "phone": "string",
                    "amount": null,
                    "countryCode": "string"
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/resellers/v1/transactions/billPayments:validate',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                    "phone": "string",
                    "amount": null,
                    "countryCode": "string"
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Content-Type: application/json',
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/resellers/v1/transactions/billPayments:validate',
                    'headers': {
                      'Content-Type': 'application/json',
                      'Authorization': 'Bearer {Bearer_Token}'
                    },
                    body: JSON.stringify({
                      "phone": "string",
                      "amount": null,
                      "countryCode": "string"
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\r\n  \"phone\": \"string\",\r\n  \"amount\": null,\r\n  \"countryCode\": \"string\"\r\n}");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/resellers/v1/transactions/billPayments:validate")
                    .method("POST", body)
                    .addHeader("Content-Type", "application/json")
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '204':
                    description: Success
                    examples:
                        application/json:
                           No message : "[Success response]."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"

            summary: Check eligibility for bill payments
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/19692059-d797ad56-7c16-459c-859a-e8b9d63b21af?action=collection%2Ffork&collection-url=entityId%3D19692059-d797ad56-7c16-459c-859a-e8b9d63b21af%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
                <br><br>
                Use this endpoint to check wether the customer is eligible to pay.

                Viva customers can use the service without an amount limit. An OTP will be send to the mobile phone of the customer.
                Non-customers can use the service only for payments < 1.000€ in this case enventId '109101' will be in the response and
                '/resellers/v1/transactions/cashPayments' must be called with the the appropriate tags in the request body.

                <strong>Events</strong><br>
                <table>
                <tr>
                <td>Event</td>
                <td>ID</td>
                <td>Description</td>
                </tr>
                <tr>
                <td>Resellers Payment Not Allowed</td>
                <td>**109100**</td>
                <td>This will be exposed in the header (HTTP 400 error code). Payment not allowed</td>
                </tr>
                <tr>
                <td>Resellers Additional Fields Required For Non Viva Customer</td>
                <td>**109101**</td>
                <td>This will be exposed in the header (HTTP 200 error code). The appropriate tags must be used in the request body of the payment call</td>
                </tr>
                </table>
                <strong><em>For Resellers API calls, please use your <a href="/getting-started/find-your-account-credentials/reseller-api-credentials/">Reseller API credentials</a></em></strong>

    /resellers/v1/transactions/cashPayments:sendotp:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:core:api:resellers"
            servers:
                - url: https://demo-api.vivapayments.com
                  description: Sandbox environment
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Resellers
            parameters:
                -
                    name: phone
                    in: query
                    description: The customer's phone number
                    required: true
                -
                    name: countryCode
                    in: query
                    description: The country code of the customer
                    required: false

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location --globoff --request POST 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments:sendotp?phone={phone}' \
                  --header 'Authorization: Bearer {Bearer_Token}'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments:sendotp?phone=%7Bphone%7D',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_HTTPHEADER => array(
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments:sendotp?phone={phone}',
                    'headers': {
                      'Authorization': 'Bearer {Bearer_Token}'
                    }
                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("text/plain");
                  RequestBody body = RequestBody.create(mediaType, "");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/resellers/v1/transactions/cashPayments:sendotp?phone={phone}")
                    .method("POST", body)
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '204':
                    description: Success
                    examples:
                        application/json:
                           No message : "[Success response]."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"

            summary: Resend OTP for cash payment
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/19692059-d797ad56-7c16-459c-859a-e8b9d63b21af?action=collection%2Ffork&collection-url=entityId%3D19692059-d797ad56-7c16-459c-859a-e8b9d63b21af%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
                <br><br>
                Use this endpoint to resend another OTP to customer only if OTP created by '/resellers/v1/transactions/cashPayments:validate' has been expired
                <br><br>
                <strong><em>For Resellers API calls, please use your <a href="/getting-started/find-your-account-credentials/reseller-api-credentials/">Reseller API credentials</a></em></strong>

    /resellers/v1/transactions/billPayments:sendotp:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:core:api:resellers"
            servers:
                - url: https://demo-api.vivapayments.com
                  description: Sandbox environment
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Resellers
            parameters:
                -
                    name: phone
                    in: query
                    description: The customer's phone number
                    required: true
                -
                    name: countryCode
                    in: query
                    description: The country code of the customer
                    required: false

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location --globoff --request POST 'https://api.vivapayments.com/resellers/v1/transactions/billPayments:sendotp?phone={phone}' \
                  --header 'Authorization: Bearer {Bearer_Token}'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/resellers/v1/transactions/billPayments:sendotp?phone=%7Bphone%7D',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_HTTPHEADER => array(
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/resellers/v1/transactions/billPayments:sendotp?phone={phone}',
                    'headers': {
                      'Authorization': 'Bearer {Bearer_Token}'
                    }
                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("text/plain");
                  RequestBody body = RequestBody.create(mediaType, "");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/resellers/v1/transactions/billPayments:sendotp?phone={phone}")
                    .method("POST", body)
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '204':
                    description: Success
                    examples:
                        application/json:
                           No message : "[Success response]."
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"

            summary: Resend OTP for bill payment
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/19692059-d797ad56-7c16-459c-859a-e8b9d63b21af?action=collection%2Ffork&collection-url=entityId%3D19692059-d797ad56-7c16-459c-859a-e8b9d63b21af%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
                <br><br>
                Use this endpoint to resend another OTP to customer only if OTP created by '/resellers/v1/transactions/billPayments:validate' has been expired
                <br><br>
                <strong><em>For Resellers API calls, please use your <a href="/getting-started/find-your-account-credentials/reseller-api-credentials/">Reseller API credentials</a></em></strong>

    /resellers/v1/transactions/cashPayments:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:core:api:resellers"
            servers:
                - url: https://demo-api.vivapayments.com
                  description: Sandbox environment
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Resellers
            parameters:
                -
                    name: body
                    schema:
                        $ref: '#/definitions/resellers_cash_payment_request'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments' \
                  --header 'Content-Type: application/json' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --data '{
                    "phone": "string",
                    "amount": null,
                    "orderCode": null,
                    "merchantId": null,
                    "rfPaymentCode": "string",
                    "countryCode": "string",
                    "oneTimePassword": "string",
                    "resellerSourceCode": "string",
                    "tags": null
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                    "phone": "string",
                    "amount": null,
                    "orderCode": null,
                    "merchantId": null,
                    "rfPaymentCode": "string",
                    "countryCode": "string",
                    "oneTimePassword": "string",
                    "resellerSourceCode": "string",
                    "tags": null
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Content-Type: application/json',
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/resellers/v1/transactions/cashPayments',
                    'headers': {
                      'Content-Type': 'application/json',
                      'Authorization': 'Bearer {Bearer_Token}'
                    },
                    body: JSON.stringify({
                      "phone": "string",
                      "amount": null,
                      "orderCode": null,
                      "merchantId": null,
                      "rfPaymentCode": "string",
                      "countryCode": "string",
                      "oneTimePassword": "string",
                      "resellerSourceCode": "string",
                      "tags": null
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\r\n  \"phone\": \"string\",\r\n  \"amount\": null,\r\n  \"orderCode\": null,\r\n  \"merchantId\": null,\r\n  \"rfPaymentCode\": \"string\",\r\n  \"countryCode\": \"string\",\r\n  \"oneTimePassword\": \"string\",\r\n  \"resellerSourceCode\": \"string\",\r\n  \"tags\": null\r\n}");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/resellers/v1/transactions/cashPayments")
                    .method("POST", body)
                    .addHeader("Content-Type", "application/json")
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/resellers_cash_payment_response'
                '403':
                    description:  OTP (One Time Password) is invalid
                    examples:
                        application/json:
                           No message : "[OTP (One Time Password) is invalid]"
                '404':
                    description:  OTP (One Time Password) has expired
                    examples:
                        application/json:
                           No message : "[OTP (One Time Password) has expired]"
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"

            summary: Cash payment
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/19692059-d797ad56-7c16-459c-859a-e8b9d63b21af?action=collection%2Ffork&collection-url=entityId%3D19692059-d797ad56-7c16-459c-859a-e8b9d63b21af%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
                <br><br>
                <strong>Events</strong><br>
                <table>
                <tr>
                <td>Event</td>
                <td>ID</td>
                <td>Description</td>
                </tr>
                <tr>
                <td>Resellers Payment Not Allowed</td>
                <td>**109100**</td>
                <td>This will be exposed in the header (HTTP 400 error code). Payment not allowed</td>
                </tr>
                <tr>
                <td>Resellers Additional Fields Required For Non Viva Customer</td>
                <td>**109101**</td>
                <td>This will be exposed in the header (HTTP 200 error code). The appropriate tags must be used in the request body of the payment call</td>
                </tr>
                <tr>
                <td>Resellers Non Viva Customer Wallet Top Up Only Via Card</td>
                <td>**109104**</td>
                <td>This will be exposed in the header (HTTP 400 error code). Non Viva customer cash payment not allowed</td>
                </tr>
                </table>
                <strong><em>For Resellers API calls, please use your <a href="/getting-started/find-your-account-credentials/reseller-api-credentials/">Reseller API credentials</a></em></strong>

    /resellers/v1/transactions/billPayments:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:core:api:resellers"
            servers:
                - url: https://demo-api.vivapayments.com
                  description: Sandbox environment
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Resellers
            parameters:
                -
                    name: body
                    schema:
                        $ref: '#/definitions/resellers_bill_payment_request'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/resellers/v1/transactions/billPayments' \
                  --header 'Content-Type: application/json' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --data '{
                    "vat": "string",
                    "amount": null,
                    "phone": "string",
                    "date": null,
                    "lastName": "string",
                    "orderCode": null,
                    "firstName": "string",
                    "tags": null,
                    "countryCode": "string",
                    "merchantTrns": "string",
                    "oneTimePassword": "string",
                    "billId": 0,
                    "resellerSourceCode": "string"
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/resellers/v1/transactions/billPayments',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                    "vat": "string",
                    "amount": null,
                    "phone": "string",
                    "date": null,
                    "lastName": "string",
                    "orderCode": null,
                    "firstName": "string",
                    "tags": null,
                    "countryCode": "string",
                    "merchantTrns": "string",
                    "oneTimePassword": "string",
                    "billId": 0,
                    "resellerSourceCode": "string"
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Content-Type: application/json',
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/resellers/v1/transactions/billPayments',
                    'headers': {
                      'Content-Type': 'application/json',
                      'Authorization': 'Bearer {Bearer_Token}'
                    },
                    body: JSON.stringify({
                      "vat": "string",
                      "amount": null,
                      "phone": "string",
                      "date": null,
                      "lastName": "string",
                      "orderCode": null,
                      "firstName": "string",
                      "tags": null,
                      "countryCode": "string",
                      "merchantTrns": "string",
                      "oneTimePassword": "string",
                      "billId": 0,
                      "resellerSourceCode": "string"
                    })

                  };
                  request(options, function (error, response) {
                    if (error) throw new Error(error);
                    console.log(response.body);
                  });

              - lang: Java
                source: |
                  OkHttpClient client = new OkHttpClient().newBuilder()
                    .build();
                  MediaType mediaType = MediaType.parse("application/json");
                  RequestBody body = RequestBody.create(mediaType, "{\r\n  \"vat\": \"string\",\r\n  \"amount\": null,\r\n  \"phone\": \"string\",\r\n  \"date\": null,\r\n  \"lastName\": \"string\",\r\n  \"orderCode\": null,\r\n  \"firstName\": \"string\",\r\n  \"tags\": null,\r\n  \"countryCode\": \"string\",\r\n  \"merchantTrns\": \"string\",\r\n  \"oneTimePassword\": \"string\",\r\n  \"billId\": 0,\r\n  \"resellerSourceCode\": \"string\"\r\n}");
                  Request request = new Request.Builder()
                    .url("https://api.vivapayments.com/resellers/v1/transactions/billPayments")
                    .method("POST", body)
                    .addHeader("Content-Type", "application/json")
                    .addHeader("Authorization", "Bearer {Bearer_Token}")
                    .build();
                  Response response = client.newCall(request).execute();

            responses:
                '200':
                    description: Success
                    schema:
                        $ref: '#/definitions/resellers_bill_payment_response'
                '403':
                    description:  OTP (One Time Password) is invalid
                    examples:
                        application/json:
                           No message : "[OTP (One Time Password) is invalid]"
                '404':
                    description:  OTP (One Time Password) has expired
                    examples:
                        application/json:
                           No message : "[OTP (One Time Password) has expired]"
                '5xx':
                    description:  Internal Server Error
                    examples:
                        application/json:
                           Message : "Internal Server Error"

            summary: Bill payment
            description: >-
                [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/19692059-d797ad56-7c16-459c-859a-e8b9d63b21af?action=collection%2Ffork&collection-url=entityId%3D19692059-d797ad56-7c16-459c-859a-e8b9d63b21af%26entityType%3Dcollection%26workspaceId%3D71008394-7296-44d9-ad1c-ae1f239b5574)
                <br><br>
                Use this endpoint to pay bills
                <br><br>
                <strong><em>For Resellers API calls, please use your <a href="/getting-started/find-your-account-credentials/reseller-api-credentials/">Reseller API credentials</a></em></strong>

    /resellers/v1/orders:
        post:
            security:
                - OAuth2:
                  - "urn:viva:payments:core:api:resellers"
            servers:
                - url: https://demo-api.vivapayments.com
                  description: Sandbox environment
                - url: https://api.vivapayments.com
                  description: Live environment
            consumes:
                - application/json
            produces:
                - application/json
            tags:
                - Resellers
            parameters:
                -
                    name: body
                    schema:
                        $ref: '#/definitions/resellers_create_order_request'
                    in: body
                    required: true

            x-code-samples:
              - lang: cURL
                source: |
                  curl --location 'https://api.vivapayments.com/resellers/v1/orders' \
                  --header 'Content-Type: application/json' \
                  --header 'Authorization: Bearer {Bearer_Token}' \
                  --data '{
                    "amount": null,
                    "email": "string",
                    "phone": "string",
                    "productId": null,
                    "fullName": "string",
                    "merchantId": null,
                    "countryCode": "string",
                    "requestLang": "string",
                    "currencyCode": "string",
                    "merchantTrns": "string",
                    "customerTrns": "string",
                    "targetWalletId": null,
                    "disableExactAmount": true,
                    "resellerSourceCode": "string"
                  }'
              - lang: PHP
                source: |
                  <?php

                  $curl = curl_init();

                  curl_setopt_array($curl, array(
                    CURLOPT_URL => 'https://api.vivapayments.com/resellers/v1/orders',
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_ENCODING => '',
                    CURLOPT_MAXREDIRS => 10,
                    CURLOPT_TIMEOUT => 0,
                    CURLOPT_FOLLOWLOCATION => true,
                    CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
                    CURLOPT_CUSTOMREQUEST => 'POST',
                    CURLOPT_POSTFIELDS =>'{
                    "amount": null,
                    "email": "string",
                    "phone": "string",
                    "productId": null,
                    "fullName": "string",
                    "merchantId": null,
                    "countryCode": "string",
                    "requestLang": "string",
                    "currencyCode": "string",
                    "merchantTrns": "string",
                    "customerTrns": "string",
                    "targetWalletId": null,
                    "disableExactAmount": true,
                    "resellerSourceCode": "string"
                  }',
                    CURLOPT_HTTPHEADER => array(
                      'Content-Type: application/json',
                      'Authorization: Bearer {Bearer_Token}'
                    ),
                  ));

                  $response = curl_exec($curl);

                  curl_close($curl);
                  echo $response;

              - lang: NodeJs
                source: |
                  var request = require('request');
                  var options = {
                    'method': 'POST',
                    'url': 'https://api.vivapayments.com/resellers/v1/orders',
                    'headers': {
[...]
