{% extends "account/base.html" %}

{% load i18n %}
{% load form_filters %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1 class="grid p-10 items-center justify-items-center text-xl font-black">{% trans "Password Reset" %}</h1>

    <div class="grid items-center justify-items-center w-full h-full g-6 text-gray-800">
        <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-zinc-800 border-gray-700">
            <div class="p-12 sm:p-8">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="grid items-center justify-items-center font-light text-gray-300">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <form class="password_reset" id="password_reset_form" method="post" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <div>
                        <label for="id_email" class="block mb-2 text-sm font-medium text-white">{% trans "Your email" %}</label>
                        {{ form.email | add_class:"border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 :placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" }}
                        <div class="form-errors">
                            {{ form.email.errors | safe }}
                        </div>
                    </div>
                    {% if form.non_field_errors %}
                        <div class="form-errors">
                          {{ form.non_field_errors | safe }}
                        </div>
                    {% endif %}
                    <button type="submit" class="w-full text-white ring-2 ring-primary outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 hover:bg-primary-700 ring-primary-800">{% trans "Reset My Password" %} &raquo;</button>
                </form>
                <p class="grid items-center justify-items-center font-light text-gray-300">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
