{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta content="width=device-width,initial-scale=1.0" name="viewport" />
		<meta name="theme-color" content="#ffffff" />
    <meta name="description" content="{{ SITE_DESCRIPTION }}" />
    <meta name="keywords" content="{{ SITE_KEYWORDS }}" />
    <meta name="author" content="{{ SITE_AUTHOR }}" />

    <link
			href="{% static 'favicon/apple-icon-57x57.png' %}"
			rel="apple-touch-icon"
			sizes="57x57"
		/>
		<link
			href="{% static 'favicon/apple-icon-60x60.png' %}"
			rel="apple-touch-icon"
			sizes="60x60"
		/>
		<link
			href="{% static 'favicon/apple-icon-72x72.png' %}"
			rel="apple-touch-icon"
			sizes="72x72"
		/>
		<link
			href="{% static 'favicon/apple-icon-76x76.png' %}"
			rel="apple-touch-icon"
			sizes="76x76"
		/>
		<link
			href="{% static 'favicon/apple-icon-114x114.png' %}"
			rel="apple-touch-icon"
			sizes="114x114"
		/>
		<link
			href="{% static 'favicon/apple-icon-120x120.png' %}"
			rel="apple-touch-icon"
			sizes="120x120"
		/>
		<link
			href="{% static 'favicon/apple-icon-144x144.png' %}"
			rel="apple-touch-icon"
			sizes="144x144"
		/>
		<link
			href="{% static 'favicon/apple-icon-152x152.png' %}"
			rel="apple-touch-icon"
			sizes="152x152"
		/>
		<link
			href="{% static 'favicon/apple-icon-180x180.png' %}"
			rel="apple-touch-icon"
			sizes="180x180"
		/>
		<link
			href="{% static 'favicon/android-icon-192x192.png' %}"
			rel="icon"
			sizes="192x192"
			type="image/png"
		/>
    <link
			href="{% static 'favicon/favicon-16x16.png' %}"
			rel="icon"
			sizes="16x16"
			type="image/png"
		/>
		<link
			href="{% static 'favicon/favicon-32x32.png' %}"
			rel="icon"
			sizes="32x32"
			type="image/png"
		/>
		<link
			href="{% static 'favicon/favicon-96x96.png' %}"
			rel="icon"
			sizes="96x96"
			type="image/png"
		/>
		<link
			crossorigin="use-credentials"
			href="{% static 'favicon/manifest.json' %}"
			rel="manifest"
		/>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{{ SITE_NAME }}</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
    /* Custom CSS to remove rounded corners from .alert class */
    .alert {
      border-radius: 0;
    }
    .group:hover .group-hover\:block {
      display: block;
    }
  </style>
  {% load django_browser_reload %}
  <body role="document">
    <div class="bg-black text-white grid items-center justify-items-center">
      <div class="container mx-auto flex gap-4">
        <div class="flex items-center justify-between py-4">
          <a class="text-white text-2xl font-bold" href="/">{{ SITE_NAME }}</a>
        </div>

        <div class="hidden md:flex md:items-center md:justify-between md:py-4">
          <ul class="flex space-x-4">
            <li>
              <a target="_blank" href="{% url 'swagger-ui' %}" class="block">API Docs
                Swagger UI
              </a>
            </li>
            <li><a target="_blank" href="{% url 'redoc' %}" class="block">API Docs Redoc
            </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container mx-auto p-4">
      {% block content %}{% endblock %}
    </div>
    <div id="notifications" class="fixed bottom-4 right-4 z-50"></div>
  </body>
  <footer>
    {% django_browser_reload_script %}
    <script type="text/javascript">
      const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
      const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notifications`;
      const socket = new WebSocket(wsEndpoint);

      socket.addEventListener("message", (event) => {
        const data = JSON.parse(event.data);
        console.log("Received notification:", data);
        showNotification(data);
      });

      function showNotification(notification) {
        const notificationsContainer = document.getElementById("notifications");
        notificationsContainer.classList.add(
          "grid",
          "items-center",
          "justify-center"
        );

        const alertDiv = document.createElement("div");
        alertDiv.classList.add(
          "flex",
          "flex-col",
          "gap-2",
          "bg-blue-100",
          "border",
          "border-blue-400",
          "text-blue-700",
          "px-4",
          "py-3",
          "rounded",
          "relative",
          "mb-2",
          "alert"
        );

        alertDiv.setAttribute("role", "alert");

        // Displaying message based on user's preferred language or default
        const message = notification.translations.find(t => t[notification.user.preferredLanguage]) || notification.translations[0];
        const languageCode = Object.keys(message)[0];
        const messageContent = message[languageCode].message;

        const messagePara = document.createElement("p");
        messagePara.textContent = messageContent;
        alertDiv.appendChild(messagePara);

        // Display link if available
        if (notification.link) {
          const linkElement = document.createElement("a");
          linkElement.setAttribute("href", notification.link);
          linkElement.setAttribute("target", "_blank");
          linkElement.textContent = "More Info";
          linkElement.classList.add("underline");
          alertDiv.appendChild(linkElement);
        }

        // Close button for the notification
        const closeButton = document.createElement("button");
        closeButton.setAttribute("type", "button");
        closeButton.classList.add(
          "absolute",
          "top-0",
          "right-0",
          "bg-transparent",
          "text-xl",
          "leading-none",
          "rounded",
          "p-1"
        );
        closeButton.innerHTML = "&times;";
        closeButton.onclick = () => notificationsContainer.removeChild(alertDiv);

        alertDiv.appendChild(closeButton);

        notificationsContainer.appendChild(alertDiv);
      }


      socket.onopen = (event) => {
        console.log("WebSocket connection opened!", event);
      };

      socket.onmessage = (event) => {
        console.log("WebSocket message received:", event);
      };

      socket.onclose = (event) => {
        console.log("WebSocket connection closed!", event);
      };

      function error_response(data) {
          const apiResponse = document.querySelector('.api-response');
          if (data) {
            apiResponse.innerHTML = data
          }
      }

      function success_response(data) {
          const apiResponse = document.querySelector('.api-response');
          if (data) {
            apiResponse.innerHTML = data
          }
      }

      document.addEventListener('DOMContentLoaded', function() {
          const submitButtons = document.querySelectorAll('form.ajax-post button[type=submit]');
          const menu = document.getElementById('menu');

          if (menu) {
            menu.addEventListener('mouseleave', function() {
                menu.classList.add('hidden');
            });

            menu.addEventListener('mouseenter', function() {
              menu.classList.remove('hidden');
            });
          }

          if (!submitButtons) {
            return;
          }

          submitButtons.forEach(function(button) {
              button.addEventListener('click', function(event) {
                  event.preventDefault();
                  const form = button.closest('form');
                  const formData = new FormData(form);

                  const jsonData = {};
                  formData.forEach((value, key) => {
                      jsonData[key] = value;
                  });

                  const url = form.getAttribute('action');
                  const method = form.getAttribute('method');
                  const csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                  const apiResponse = document.querySelector('.api-response');
                  apiResponse.innerHTML = "API Response: Loading...";

                  fetch(url, {
                      method: method,
                      headers: {
                          'Content-Type': 'application/json',
                          'X-CSRFToken': csrf_token,
                      },
                      body: JSON.stringify(jsonData),
                  })
                  .then(response => {
                      if (!response.ok) {
                          console.log('response', response)
                          throw new Error(response.statusText);
                      }
                      return response.json();
                  })
                  .then(data => {
                      console.log('data', data)
                      success_response(data);
                  })
                  .catch(error => {
                      console.log('error', error)
                      error_response(error);
                  });
              });
          });
      });
    </script>
    {% block script %}{% endblock %}
  </footer>
</html>
