{% block content %}

  <form class="max-w-lg mx-auto space-y-4 p-6 bg-white border border-gray-300 rounded
  shadow-lg ajax-post" role="form" action="{% url 'rest_logout' %}" method="post">{% csrf_token %}
    <div class="flex items-center gap-2">
      <label for="token" class="text-sm w-full">User Token</label>
      <input name="token" type="text" class="w-full border border-gray-300 p-2 rounded" id="token" placeholder="Token">
    </div>
    <p class="text-sm text-gray-600">Token received after login</p>

    <div class="flex justify-end">
      <button type="submit" class="px-4 py-2 bg-blue-500 text-white font-bold rounded">Logout</button>
    </div>

    <div class="api-response"></div>
  </form>

{% endblock %}
