<!-- Signup form -->
<form class="max-w-lg mx-auto space-y-4 p-4 bg-white border border-gray-300 rounded
shadow-lg" role="form" action="{% url 'rest_password_change' %}" method="post">{% csrf_token %}
  <div class="flex items-center gap-2">
    <label for="new_password1" class="text-sm w-full">Password</label>
    <input name="new_password1" type="password" class="w-full border border-gray-300
    p-2 rounded" id="new_password1" placeholder="Password" autocomplete="new-password">
  </div>

  <div class="flex items-center gap-2">
    <label for="new_password2" class="text-sm w-full">Repeat password</label>
    <input name="new_password2" type="password" class="w-full border border-gray-300
    p-2 rounded" id="new_password2" placeholder="Repeat password" autocomplete="new-password">
  </div>

  <div class="flex justify-end">
    <button type="submit" class="px-4 py-2 bg-blue-500 text-white font-bold rounded">Set new password</button>
  </div>

  <div class="api-response"></div>
</form>
